<div class="modal-header">
  <h4 class="modal-title">Add Product</h4>
</div>
<!-- <form> -->
<div class=" modal-boy">
  <div class="container">
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" class="form-control" placeholder="name" [(ngModel)]="product.name" />
    </div>

    <div class="form-group">
      <label for="password">Price</label>
      <input type="number" class="form-control" placeholder="price" [(ngModel)]="product.price" />
    </div>

    <div class="form-group">
      <label for="price">Category</label>
      <select class="custom-select" [(ngModel)]="product.category">
        <option selected>category...</option>
        <option *ngFor="let item of category" [value]="item.id">{{ item.name }}
        </option>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer pl-0 pr-0">

  <button class="btn btn-success col-sm-4" (click)="addProduct()">
    Submit Form
  </button>
</div>
<!-- </form> -->
