<div class="row">
  <div class="col-4" *ngFor="let product of listItems">
    <div class="card box_card">
      <div class="box_imges">
        <div class="box_image_item" [style.backgroundImage]="'url('+ product.image +')'">
        </div>
        <div class="card-body">
          <a [routerLink]="['/profile-product', product.id]" routerLinkActive="router-link-active"
            class="card-title tiltle_item">{{ product.name }}</a>
          <p class="card-text text_item">{{ product.price | currency:'VND':'symbol' }}</p>

          <button (click)="addToCart(product)" *ngIf="cart.getQuantity(product) === 0;"
            class="btn btn_button">Order</button>
          <button *ngIf="cart.getQuantity(product) !== 0;" class=" btn btn_button" routerLink="/home/cart">In To
            Cart</button>
        </div>
      </div>
    </div>
  </div>
