<mat-toolbar id="mainToolbar" color="primary">
  <div class="container">
    <div class="row content_toolbar">
      <div class="content_box_title">
        <mat-icon id="toolbarMenu" (click)="onToolbarMenuToggle()">subject</mat-icon>
        <span>Admin</span>
      </div>

      <a class="nav_title" routerLink="">SAY COFFEE</a>

      <div>
        <span class="toolbar-spacer"></span>
        <mat-icon class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent">notifications
        </mat-icon>
      </div>

    </div>
  </div>

</mat-toolbar>
